h1,h3{
    color: rgba(255, 255, 255, 0.8);
    font-family:'Trade Winds';
    text-align: left;
    padding-left: 10px;
}

li,p,a{
    color: rgba(255, 255, 255);
    font-family:"arial"; 
}

.content{
    width: 96%;
    margin: 2%;
}

.flat li,p{
    float:left;
    margin: 0;
}
.flat img{
    float:right;
    max-width:200px;
    max-height:100px;
}

.flat{
    width:50%;
}