body{
    margin:0;
    padding:0;
    background-color: rgb(88,187,149);
}

.header{
    margin: 0;
    padding:0;
}
.auth{
    position: absolute;
    top:0;
    left: 90%;
    
}

.auth ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.auth li{
    
    padding: 10px;
    float: right;

}
.auth li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* .logo{ 
    background-color:rgb(2, 82, 74);
    width: fit-content;
} */
.logo{
    display: block;
    padding:10px;
    padding-top:0;
    padding-bottom:0;
    font-size: 100%;
    margin: 0;
    color: white;
    font-family: 'Trade Winds', cursive;
}
.nav_bar{
    padding: 0;
    margin: 0;
    width:100%;
    display: inline-block;
}

.nav_bar ul{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 82, 74);
    
}

.nav_bar li {
    
    padding: 10px;
    float: left;

}

.nav_bar li a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0;
    position: relative;
    color: white;
    text-decoration: none;
}

.homeImage img{
    margin-bottom: 0px;
    opacity: 0.7;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content1{
    position: absolute;
    top:30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content1 h1{
    opacity: 0.8;
    font-size: 400%;
    color: white;
    font-family: 'Satisfy', cursive;
}
.content2{
    width: 100%;
}
.content2 h2{
    color: white;
    opacity: 0.8;
    font-family:'Trade Winds';
    text-align: center;
    position: absolute;
    top:60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content2 h3{
    font-family: 'Trade Winds', cursive;
}
.content2 p, .content2 h3{
    text-align: center;
}
.par-1, .par-2, .par-3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 0.8;
}
.par-1{
    position: absolute;
    top:70%;
    left: 20%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.par-2{
    position: absolute;
    top:70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}
.par-3{
    position: absolute;
    top:70%;
    left: 70%;
}

.footer{
    padding: 0;
    margin: 0;
    width:100%;
}
.footer ul{
    width:100%;
    position: fixed;
    top: 98%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 82, 74);
    
}
.footer li a{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 200px;
    margin: 0;
    position: relative;
    color: white;
    text-decoration: none;
}
.active{
    background-color: rgb(241, 190, 124);
}
a:hover{
    background-color: rgba(241, 190, 124, 0.7);

}
