.homeImage img{
    margin-bottom: 0px;
    opacity: 0.7;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content1{
    position: absolute;
    top:30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content1 h1{
    opacity: 0.8;
    font-size: 400%;
    color: white;
    font-family: 'Satisfy', cursive;
}
.content2{
    width: 100%;
}
.content2 h2{
    color: white;
    opacity: 0.8;
    font-family:'Trade Winds';
    text-align: center;
    position: absolute;
    top:60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.content2 h3{
    font-family: 'Trade Winds', cursive;
}
.content2 p, .content2 h3{
    text-align: center;
}
.par-1, .par-2, .par-3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 0.8;
    padding-bottom: 100px;
}
.par-1{
    position: absolute;
    top:70%;
    left: 20%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.par-2{
    position: absolute;
    top:70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}
.par-3{
    position: absolute;
    top:70%;
    left: 70%;
}


