h3{
    color: rgba(255, 255, 255, 0.8);
    font-family:'Trade Winds';
    text-align: left;
    padding-left: 10px;
}

.your-matches{
    width:46%;
    margin:0 2%;
    float:left;
}
h5{
    font-family:arial;
    color: rgba(255, 255, 255, 0.8);
}

h5{
    padding-left: 10px;
}

.your-likes,.your-liked{
    width:46%;
    margin:0 2%;
    float:right;
}