<!DOCTYPE html>
{% extends 'flatshare/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Flatshare - About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body_block %}
    <h1>About Us</h1>
    <img class = "about-image" src="{% static 'images/apartment2.jpg' %}" alt="Flat"/>
    <div class = "main-about">
        <h3>The website is a flat share finding website, with two types of users, people looking for rooms and people looking for flatmates. The people looking for flatmates will post details about their flat and will then be able to search through users looking to live in the area of their flat and like people who they think would be a good fit for them. The users looking for a room would post details of themselves and the area they would like to stay in, they would then be able to like flats that they’d like to stay in. If the user and flat matched, then a notification would be sent to both with details for contacting each other.</h3>
    </div>
{% endblock %}