{% extends 'flatshare/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_block %}
    <title>flatshare - add flat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_flat.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}

{% block body_block %}
<dvi class='head'>
</dvi>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 style="font-family: 'Trade Winds',cursive;">Add a Flat</h1>
            <hr class="mt-0 mb-4">
            <div>
                <form id="add_flat_form" method="post" action="/flatshare/add_flat/">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% for hidden in address_form.hidden_fields %}
                        <div class= "col-6">
                            {{ hidden|as_crispy_field }}
                        </div>
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in address_form.visible_fields %}
                        <div class= "col-6">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                    <input type="submit" name="submit" value="Add Flat" />
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}