{% extends 'flatshare/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Flatshre - {{flat.owner}}'s Flat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flat.css' %}">
{% endblock %}

{% block body_block %}
<div>
{% if flat %}
    <h3>{{ flat.name }}</h3>
    <div class = "info">
        <ul>
            <li>Address: {{ flat.address }}</li>
            <li>PPM: {{ flat.rent }}</li>
            <li>Owner: {{ flat.owner }}</li>
            <li>Available From: {{ flat.available_from }}</li>
            <li>{{ flat.description }}</li>
        </ul>
    </div>
    <div class = "img1-div">
        <img src="{{ MEDIA_URL }}{{ flat.image1 }}">
    </div>
    <div class = "img2-div">
        <img src="{{ MEDIA_URL }}{{ flat.image2 }}">
    </div>
    <form action='like' method='GET'>
        <button type='submit'> Like Flat </button>
    </form>
{% else %}
    <strong>There are no flats present.</strong>
{% endif %}
</div>
{% endblock %}