{% extends 'flatshare/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <title>Flatshare - Available Flats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flats.css' %}">
{% endblock %}

{% block body_block %}
    <h1>Available Flats</h1>
    <div class = "content">
    {% if flats %}
        <ul>
        {% for flat in flats %}
            <div class = "flat">
                <li>{{ flat }}</li><br/>
                <p><a href="{{ flat.slug }}/">Details...</a></p><br />
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <h3>There are no flats present.</h3>
    {% endif %}
        <p><a href="/">Back to Home</a></p><br />
    </div>
{% endblock %}
