{% extends 'flatshare/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div>
	<h1>Flatshare</h1>
	<a href="flatshare/login">Login</a><br />
	<a href="flatshare/flats">Available Flats</a><br />
	<a href="flatshare/about">About</a><br />
</div>

<div>
	<h1>Apartment 1</h1>
	<h5> yes i know this is ugly and wrong, im just testing the static images thingy</h5>
	<img src="{% static 'images/apartment1.jpg' %}" alt="Picture of Apartment 1" />
</div>
{% endblock %}
