{% extends 'flatshare/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ user_profile.user }}'s Profile
{% endblock %}

{% block body_block %}
    <div>
        {% if user_profile %}
            <ul>
                <li>{{ user_profile.FirstName }} {{ user_profile.LastName }}</li>
                <img src="{{ MEDIA_URL }}{{ user_profile.picture }}">
                <h5>Age: {{ user_profile.age }}</h5>
                <h5>Flats the user has liked</h5>
                {% if user_profile.liked_flats %}
                    <li>
                        {% for flat in user_profile.liked_flats.all %}
                            {{ flat.name }}
                        {% endfor %}
                    </li>
                {% else %}
                    <strong>There are no flats present.</strong>
                {% endif %}
                <h5>Flats owned by the user</h5>
                {% if owned_flats %}
                    <li>
                        {% for flat in owned_flats %}
                            {{ flat.name }}
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        {% else %}
            <strong>User profile empty</strong>
        {% endif %}
    </div>
{% endblock %}